/* ==========================
   FOOTER
========================== */

.footer {

  background:#020617;

  color:white;

  padding:60px;

  border-top:1px solid rgba(255,255,255,.08);

}


/* CONTAINER */

.footer-container {

  display:flex;

  justify-content:space-between;

  gap:40px;

}



/* BRAND */

.footer-brand h2 {

  font-size:28px;

  margin-bottom:15px;

}


.footer-brand p {

  color:#94A3B8;

  max-width:350px;

  line-height:1.6;

}



/* LINKS */

.footer-links {

  display:flex;

  gap:80px;

}


.footer-links div {

  display:flex;

  flex-direction:column;

  gap:12px;

}


.footer-links h3 {

  margin-bottom:10px;

}


.footer-links a {

  color:#94A3B8;

  text-decoration:none;

  transition:.3s;

}


.footer-links a:hover {

  color:#3B82F6;

}



/* BOTTOM */

.footer-bottom {

  margin-top:40px;

  padding-top:20px;

  border-top:1px solid rgba(255,255,255,.08);

  text-align:center;

}


.footer-bottom p {

  color:#94A3B8;

}



/* RESPONSIVE */

@media(max-width:768px){

  .footer {

    padding:40px 20px;

  }


  .footer-container {

    flex-direction:column;

  }


  .footer-links {

    gap:40px;

  }

}